<section class="newsletter-section text-center bg-light text-dark p-5">
        <h4>Subscribe</h4>
        <p>Subscribe to our weekly newsletter</p>
        <div class="Subscribe-form">
          <form>
            <div class="form-row align-items-center">
              <div class="col">
                <div class="input-group newletter-form">
                  <input type="text" class="form-control" placeholder="Full Name">
                  <input type="email" class="form-control" placeholder="Email">
                  <div class="input-group-append">
                    <button class="btn bg-dark text-white join-btn" type="button">Join</button>
                 </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
<footer class="text-center bg-light text-dark p-2 ">
 <strong>All rights reserved by @practicalworld.com - 2020</strong>
</footer>