<div class="container-fluid top-nav">
  <nav class="row">
      <div class="col">
          <a href="/"><img class="logo" src="../images/pw-logo-final.png"></a>
      </div>
      <div class="col">
          <ul class="social-links">
            <li class="d-block d-md-none"><a href="javscript:void(0)" class="collapsed" data-toggle="collapse" data-target="#quickLinkMenu" ><i class="fa fa-bars"></i><i class="fa fa-times"></i></a></li>
            <li class="d-none d-md-block"><a href="javscript:void(0)"><i class="fa fa-github"></i></a></li>
          </ul>
      </div>
  </nav>
</div>