<aside class="col-sm-12 col-md-12 col-lg-2 col-xl-2 side-nav-wrapper">
    <div class="side-nav-search-block">
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="search-side-nav" aria-describedby="search-side-nav" placeholder="Enter Keywords ...">
        </div>
      </form>
    </div>

    <ul class="side-nav-list">
      <li><a href="javascript:void(0)">DEVOPS</a></li>
      <li><a href="javascript:void(0)">ANGULAR</a></li>
      <li><a href="javascript:void(0)">JAX-RS</a></li>
      <li><a href="javascript:void(0)">NODE</a></li>
    </ul>
</aside>