<main class="col-sm-12 col-md-12 col-lg-8 col-xl-8 p-4 "> 
              <h4 class="title-heading">How To Install Jenkins On Centos</h4>
              <p class="indent-para">Jenkins is a free and open source automation server. It helps automate the parts of software development related to building, testing, and deploying, facilitating continuous integration and continuous delivery. It is a server-based system that runs in servlet containers such as Apache Tomcat.</p>
          
              <h4 class="title-heading">Steps To Perform</h4>
              <p><b>1. </b>First Login to your machine with user having sudo access and run following command</p>
              <pre><code>sudo yum install -y jenkins</code>
              </pre>
              <dl class="row mt-2 mark command-text">
                <dt class="col-sm-3">sudo</dt>
                <dd class="col-sm-9">Provides you root access.</dd>
                <dt class="col-sm-3">yum</dt>
                <dd class="col-sm-9">It is a package installer</dd>
                <dt class="col-sm-3">-y </dt>
                <dd class="col-sm-9">It allows yum to consider all user input as YES</dd>
                <dt class="col-sm-3">jenkins</dt>
                <dd class="col-sm-9">package name to be install</dd>
              </dl>

              <br>
              <p><b>2. </b>Install java on the machine</p>
              <pre><code>sudo yum install java-1.8.0-openjdk.x86_64</code>
              </pre>

          </main>
          <aside class="d-none d-lg-block d-xl-block pt-5 col-lg-2 col-xl-2">
              <ul class="list-unstyled quick-link-nav">
                <li><a href="javascript:void(0)">Overview</a></li>
                <li><a href="javascript:void(0)">Step To Perform</a></li>
                <li><a href="javascript:void(0)">Video Link</a></li>
                <li><a href="javascript:void(0)">References</a></li>
              </ul>
          </aside>